:root {
  --text-color: #9597A5;
  --title-color: #2D314D;
  --btn-color: #30C88F;
}

:focus {
  outline: 2px dashed tomato;
  outline-offset: 2px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  color: var(--text-color);
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* HEADER STYLES */

.site-header {
  z-index: 50;
  background-color: #fff;
}

.site-header__container{
  display: flex;
  align-items: center;
}

.site-header__logo-link {
  margin-right: 251px;
}

.logo-link {
  display: flex;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link__img {
  width: 139px;
  height: 20px;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 226px;
}

.sitenav__item {
  padding-bottom: 28px;
  padding-top: 32px;
  border-bottom: 4px solid transparent;
  font-size: 14px;
}

.sitenav__item:hover {
  border-bottom: 4px solid var(--btn-color);
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  transition: border-bottom 0.3s ease;
}

.sitenav__link:hover {
  color: var(--title-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.invite-link {
  display: inline-block;
  padding: 8px 36px 8px 33px;
  text-decoration: none;
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  color: #fff;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.invite-link:hover {
  opacity: 0.4;
}


/* MAIN CONTENT  */

.main-content {
  flex-grow: 1;
}

.main-content__container {
  display: flex;
}

.main-content__block {
  background-color: #fafafa;
  background-image: url(../images/bg-hero-img.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 595px) -260px;
}

.hero {
  display: flex;
  position: relative;
}

.hero__content {
  width: 447px;
  padding-top: 170px;
  padding-bottom: 170px;
  margin-right: 28px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: var(--title-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
}

.hero__img {
  position: absolute;
  left: 628px;
  top: -133px;
}

  /* FEATURE */
.feature {
  background-color: #f4f5f7;
  padding-top: 96px;
  padding-bottom: 94px;
}

.feature__box {
  width: 635px;
  margin-bottom: 72px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  color: var(--title-color);
}

.feature__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.feature__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature__item {
  width: 255px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__img-block {
  padding-top: 16px;
  width: 72px;
  height: 72px;
  margin-bottom: 40px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.feature__item-img {
  object-fit: contain;
  line-height: 72px;
}

.feature__item-title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: var(--title-color);
}

.feature__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 26px
}

  /* ARTICLES */

.main-content__articles {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fafafa;
}

.articles__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  color: var(--title-color);
}

.articles__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.articles__content {
  padding: 24px;
}

.articles__item {
  width: 255px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
}

.articles__item:not(:last-child) {
  margin-right: 30px;
}

.articles__item-img {
  display: block;
}

.img-commet {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
}

.articles__item-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-color);
}

.articles__item-text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

/* FOOTER*/

.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--title-color);
}

.site-footer__container {
  display: flex;
  align-items: flex-start;
}

.site-footer__logotep-block {
  width: 154px;
  margin-right: 131px;
}

.site-footer__logo-link {
  display: flex;
  margin-bottom: 55px;
}


.site-footer__link-box {
  display: flex;
}

.site-footer__network {
  display: flex;
  color: #fff;
}

.site-footer__network:not(:last-child) {
  margin-right: 13px;
}

.site-footer__network:hover {
  color: var(--btn-color);
}

.site-footer__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}

.site-footer__item {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.site-footer__item:first-child {
  margin-right: 30px;
}

.site-footer__ite-link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 26px;
}

.site-footer__ite-link:not(:last-child) {
  margin-bottom: 8px;
}

.site-footer__ite-link:hover {
  color: var(--btn-color);
}

.site-footer__btn-block {
  text-align: right;
  margin-left: 10px;
}

.site-footer__btn-block-text {
  margin-bottom: 0;
  margin-top: 24px;
  font-size: 15px;
  line-height: 26px;
  white-space: nowrap;
  color: rgba(255, 255, 255, .5);
}